/* signin page stylesheet */
.body {
    font-family: 'Roboto', sans-serif;
    background-color: #E3E7F8;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assests/5559852.png");
    background-size:cover;
    height: 150vh;

}
.container {
    display: flex;
    margin-top: -350px;
    width: 800px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.left-panel, .right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-panel {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  padding: 55px;
}
.right-panel {
  background-color: #EFF3F6;
  margin-right: 40px;
}

.form-group {
    width: 400px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0b5ed7;
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #aaa;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90%;
        height: auto;
    }
    .left-panel, .right-panel {
        padding: 20px;
    }
}



/* .formbg {
  border-radius: 12px;
  background: white;
  box-shadow:
    20px 20px 34px #9f9f9f,
    -20px -20px 34px #ffffff;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}
body {
  background-color: #e3e7f8;
}
.formcomp {
  width: 450px;
  margin-bottom: 20px;
  border: solid #9f9f9f 1px;
} */
